
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title">Remove Game</h4>
            </div>
                <div class="modal-body">
                
                        Remove this game from the list?
                 
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary cancel-delete" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger confirm-delete" data-save="modal">Delete</button>
            </div>

        </div>
    </div>
</div>
