@{
    ViewData["Title"] = "Home Page";
}
@model MyGameList.Models.GameViewModel
<div class="text-center">
    <h1 class="display-4">Welcome to MyGameList</h1>
    <p>Start making your video game list <a href="/Game">Here</a>.</p>
</div>
